@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.Principal{
	  padding: 20px; /* Espaciado interno del section */
	  margin: 20px 0; /* Margen exterior del section */
	  background-color: #f7f7f7; /* Color de fondo del section */
	  border: 1px solid #e0e0e0; /* Borde del section */
	  border-radius: 5px; /* Bordes redondeados */
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
	  background-color: #8B4610;
}

.parrafo{ 
    line-height: 1.6; /* Altura de línea para una mejor legibilidad */
}

.ulist{
	list-style-type: disc; /* Tipo de marcador de la lista (círculos) */
    margin: 0; /* Elimina el margen exterior por defecto */
    padding: 0; /* Elimina el espaciado interno por defecto */
}
 img {
    max-width: 100%; /* Ajustar el ancho máximo al contenedor */
    height: auto; 
    display: block; 
    margin: 0 auto; 
 }

#header{
	background-color: #1C1B1F;
	color: gray;
}

.main{
	
    background-position: center;
	padding: 50px;
	border: 30px;
	flex:3;
}
header{
	background-color: #EE8436;
	padding: 50px;
	border: 30px;
}

.container{
	background-color: #EE8436;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 30px;
	margin: 0;
	border: 0;
}

aside{
	flex: 1;
	background-color: #EE5636;
}

.ImagenAside{
	width: 100%;
	height: 44%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: gray;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #302F3D;
    color: white
}

.form-label {
    display: block; /* Para que cada label se muestre en una línea separada */
    margin-bottom: 5px; /* Agrega un margen inferior de 5px para separar los labels */
    font-weight: bold; /* Aplica negrita al texto del label */
    color: white
}

.form-control {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

.form-select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.radio-label {
    margin-right: 10px;
}

.checkbox-label {
    margin-right: 10px;
}

.btn {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #877161;
}

.BodyForm{
	background-image: url(/images/pantallafondo.jpg);
	background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  	background-position: center; /* Centra la imagen en el elemento */
  	background-repeat: no-repeat;
	}
	
	
