<!DOCTYPE html>
<html lang = "es">
<head>
<meta charset="UTF-8">
<title>Jarma Elias Nicolás</title>
</head>
<body>
	<header style="background-color: #FF0000;">
		<h1>
		PROGRAMACION VISUAL --> JAVA
		</h1>
		<a href="form-cliente.html" target="_blank">Link al formulario</a>
		<nav>
			<ul>
				<li> <a href="">Introducción a Java</a>
				<li> <a href="">Productos</a>
				<li> <a href="">Contacto</a>
				<li> <a href="">Redes</a>
			</ul>
		</nav>
	</header>
	
	<main style="background-color: yellow;">
		<section>
			<h2>
				Introducción a Java	
			</h2>
			
			<h3>
				El Origen de la Programación en Java
			</h3>
			
			<p> El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems (constituida en 1983 y posteriormente adquirida el 27 de enero de 2010 por la compañía Oracle),4​ y publicado en 1995 como un componente fundamental de la plataforma Java de Sun Microsystems. Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos. Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente. </p>
			
			<h3>Comparacion entre las temáticas: </h3>
			
				<table>
					<tr>
						<th> Informacion General </th>
						<th>  Especificaciones </th>
					</tr>
					
					<tr>
						<td>Extensiones Comunes</td>
						<td>java, class, jar, jad y jmod</td>
					</tr>
					
					<tr>
						<td>Paradigma</td>
						<td>Orientado a objetos, imperativo</td>
					</tr>
					
					<tr>
						<td>Apareció en </td>
						<td>1995</td>
					</tr>
					
					<tr>
						<td>Diseñado por</td>
						<td>Sun Microsystems de Oracle Corporation</td>
					</tr>
					
					<tr>
						<td>Última versión estable</td>
						<td>Java Standard Edition 21 (19 de septiembre de 2023 (7 meses y 15 días))</td>
					</tr>
				</table>
				
				<h3>Versiones</h3>
				<p>Desde J2SE 1.4, la evolución del lenguaje ha sido regulada por el JCP (Java Community Process), que usa Java Specification Requests (JSRs) para proponer y especificar cambios en la plataforma Java. El lenguaje en sí mismo está especificado en la Java Language Specification (JLS), o Especificación del Lenguaje Java. Los cambios en los JLS son gestionados en JSR 901
				</p>
				
				<ul>
					<li>JDK 1.0 (23 de enero de 1996) — Primer lanzamiento: comunicado de prensa</li>
					<li>JDK 1.1 (19 de febrero de 1997) — Principales adiciones incluidas: comunicado de prensa</li>
					<li>J2SE 1.2 (8 de diciembre de 1998) — Nombre clave Playground. Esta y las siguientes versiones fueron recogidas bajo la denominación Java 2 y el nombre "J2SE" (Java 2 Platform, Standard Edition) reemplazó a JDK para distinguir la plataforma base de J2EE (Java 2 Platform, Enterprise Edition) y J2ME (Java 2 Platform, Micro Edition). Otras mejoras añadidas incluían: comunicado de prensa</li>
				</ul>
				
		</section>
	</main>
	<aside>
		<a href= "https://www.java.com/es/" target="_blank">
		<img alt="Logo de Java" src="/images/Java-logo.jpg" title = "Java" >
		</a>
	
	</aside>
	<footer>
	<h3>Redes Sociales</h3>
		<ul>
		<li><a href = "https://www.instagram.com/java_programming_basics/">Instagram</a>
		<li><a href = "https://www.facebook.com/?locale=es_LA">Facebook</a>
		<li><a href = "https://twitter.com/?lang=es">Twitter</a>
		</ul>
	</footer>
</body>
</html>