<!DOCTYPE html>
<html lang = "es">
<head>
<meta charset="UTF-8">
<title>Jarma Elias Nicolás</title>
</head>
<body>
	<header style="background-color: #FF0000;">
		<h1>
		Mi Segunda Pagina Web --> Conseguido
		</h1>
		
		<nav>
			<ul>
				<li> <a href="">Inicio</a>
				<li> <a href="">Productos</a>
				<li> <a href="">Contacto</a>
				<li> <a href="">Redes</a>
			</ul>
		</nav>
	</header>
	
	<main style="background-color: yellow;">
		<section>
			<h2>
				Inicio de la Página		
			</h2>
			
			<h3>
				Comenzamos por...
			</h3>
			
			<p> Vamos descubriendo curiosidades acerca de la vida utilizando esta página y su contenido </p>
			
			<h3>Comparacion entre las temáticas: </h3>
			
				<table>
					<tr>
						<th> Curiosidades </th>
						<th> Debilidades </th>
					</tr>
					
					<tr>
						<td>Tiene puntos fuertes</td>
						<td>No siempre sirve</td>
					</tr>
					
					<tr>
						<td>Es gratis</td>
						<td>No corre en todas las computadoras</td>
					</tr>
				</table>
				
				<p>Hay muchas maneras de solucionar estos problemas o debilidades, las cuales podrían ser algunas de las sigueintes</p>
				
				<ul>
					<li>Primera Solucion: ...</li>
					<li>Segunda Solucion: ...</li>
					<li>Tercera Solucion: ...</li>
				</ul>
				
		</section>
	</main>
	
	<footer>
	Pie de página
	</footer>
</body>
</html>